@model Final_mrGuard.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
