@model IEnumerable<Final_mrGuard.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id = item.AdminID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AdminID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AdminID })
        </td>
    </tr>
}

</table>
